@import "tailwindcss";


@theme {
  --color-qs-orange-500: oklch(70.5% 0.213 47.604);
  --color-qs-orange-400: #3ab7bf;
  --color-qs-orange-gradiant: #78dcca;
  --color-qs-white-gradiant: #78dcca;
  --color-qs-neutral-500: #78dcca;
  --color-qs-neutral-50: #78dcca;
  --color-qs-white-white: #78dcca;
}
